.Letras{
	color: black;
}
.LinkAcerca{
	font-size: 15px;
	font-style: italic;
	border: solid 0px black;
	width: 100px;
	height: 30px;
	border-radius: 3px;
	transition: background-color 0.13s, width 0.12s ;
}
.LinkAcerca:hover{
background-color: #CACACA;
width: 107px;

}

body{
	background-color: grey;
}

#ImagenLeo{
	width: 250px;
	height: 250px;
}

#ImagenLeo:hover{
	background-color: gray;
}

.btnEnviar{
	border: 0px;
	position: relative;
	left: 10px;
	
	background-color: #89CFF0;
	width: 60px;
	height: 22px;
	border-radius: 5px;
	font-size: 15px;
	transition: width 0.12s ;
}

.btnEnviar:hover{
	background-color: #CACACA ;
	width: 65px;

}

.inputNombre{
	width: 175px;
	transition: width 0.12s;
}
.inputNombre:hover{
	width: 190px;
}

.CajaCabeza{
	opacity: 0.60;
	border: solid 2px;
	border-radius: 6px 6px 0px 0px ;
	text-align: center;
	position: relative;
	font-size: 20px;
	bottom: 600px;
	left: 40px;
	background-color: #83C2BC;
	width: 250px;
	height: 40px;
}

.CajaHistorial1{
	font-size: 20px;
	position: relative;
	border: solid 2px;
	border-radius: 0px 0px 6px 6px ;
	border-top: 0px;
	text-align: center;
	position: relative;
	bottom: 600px;
	opacity: 0.60;
	left: 40px;
	background-color: #4aa5f7 ;
	width: 250px;
	height: 100px;
}

.CajaHistorial2{
	font-size: 20px;
	position: relative;
	border: solid 2px;
	border-radius: 0px 0px 6px 6px ;
	border-top: 0px;
	text-align: center;
	position: relative;
	bottom: 600px;
	opacity: 0.60;
	left: 40px;
	background-color: #4aa5f7 ;
	width: 250px;
	height: 100px;
}

